body{
	background-color:#cc6060;
	display:flex;
	align-items:center;
	justify-content:center;
	min-height:100px;
	margin:80px;

}
.container{
	background-color:#fff;
	border-radius:10px;
	box-shadow:3.5px 3px #888888;
	height:500px;
	width:400px;
	max-width:100%;
	overflow:hidden;
}

.upper{
	text-align:center;
	padding:10px 20px;
    border-bottom: 1px solid silver;
	box-shadow:2px 2px #f0f0f0;
}
.upper h3{
    font-weight: bold;
}

.form{
	padding:20px 100px;
}
.pic{
    text-align: center;
}
.form-control{
	margin-bottom:10px;
	padding-bottom:10px;
	position:relative;
}

.form-control input{
    box-align: center;
	margin-bottom:5px;
	width:110%;
	border-radius:3px;
}

.form-control i{
	position:absolute;
	top:8px;
	right:-15px;
	visibility:hidden;
}
.form-control small{
visibility:hidden;
position:absolute;
bottom:0px;
color:red;
left:0px;
}

.form-control1{
	margin-bottom:10px;
	padding-bottom:10px;
	position:relative;
}

.form-control1 input{
	box-align: center;
	margin-bottom:5px;
	width:110%;
	border-radius:3px;
}

.form-control1 i{
	position:absolute;
	top:8px;
	right:-15px;
	visibility:hidden;
}

.form-control1 small{
    visibility:hidden;
    position:absolute;
    bottom:0px;
    color:red;
    left:0px;
}
#btnlogin{
    background-color:#cc6060;
    border-radius:4px;
    border:2px solid #cc6060;
    color:#fff;
    width:110%;
    font-size:16px;
    cursor: pointer;
}
